.welcome-section {
    background-image: url('section1-bg.jpg');
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw;
    scroll-snap-align: center;
    position:relative;
}

.nav-container {
    display: flex;
    height: auto;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 90px;
    justify-content: space-between;
}

.nav-logo {
    height: 80px;
    width: 80px;
}

.nav-logo1 {
    display:flex;
    width: 130px;
    height:50px;
}

.welcome-scroll-text{
    display:block;
    text-align: center;
    font-size:25px;
    width:100%;
    font-family: 'Poppins', sans-serif;
    letter-spacing:1px;
}

.welcome-scroll-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    height:10vh;
    position:absolute;
    bottom:10vh;
}

.scroll-down-gif{
    height:80px;
    width:80px;
    transform:rotate(180deg);
}

.nav-menu-container {
    display: flex;
    flex-direction: row;
    height: 10px;
    width: 40%;
    justify-content: flex-end;
}

.nav-menu-items {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 20px;
    padding-left: 50px;
    text-decoration:none;
}


@media only screen and (min-width:320px) {
    .nav-container {
        display: grid;
        height: 100%;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
    }

    
    .logo-container{
        display:flex;
        flex-direction:column;
    }

    .nav-logo {
        height: 300px;
        width: 300px;
        transform:translateX(0vw)translateY(25vh);
    }

    .nav-logo1{
        display:flex;
        position:absolute;
        top:5vh;
        left:2vw;
    }
    
    .nav-menu-container {
        display: flex;
        flex-direction: row;
        height: 10px;
        width: 60%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 16px;
        padding-left: 50px;
        display:none;
    }
    .welcome-text {
        display:none;
        font-size:55px;
        width:270px;
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        margin:150px auto 0 auto;
    }

    
    .welcome-section {
        background-image: url('iPhone 12, 12 Pro – e.png');
        background-repeat: no-repeat;
        /* background-size:cover; */
    }
    .static-contact-button-container{
        display:flex;
        justify-content:flex-start;
        position:fixed;
        bottom:3vh;
        height:10vh;
        width:100%;
        box-sizing:border-box;
        padding-left:5vw;
        padding-right:5vw;
        z-index:50;
    }

    .static-contact-button-bg{
        display:grid;
        place-items:center;
        height:60px;
        width:60px;
        background-color:#fff;
        border-radius:50px;
        box-sizing:border-box;
        padding:10px;
        text-decoration:none;
        z-index:50;
        box-shadow: 2px 4px 10px rgba(143, 131, 131, 0.582)
    }

    .static-contact-button{
        height:30px;
        width:30px;
    }
}

@media only screen and (min-width:375px) {
    .nav-container {
        display: grid;
        height: 100%;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
    }
    
    .logo-container{
        display:flex;
        flex-direction:column;
    }

    .nav-logo {
        height: 300px;
        width: 300px;
        transform:translateX(0vw)translateY(30vh);
    }

    .nav-logo1{
        display:flex;
        position:absolute;
        top:5vh;
        left:2vw;
    }
   
    .nav-menu-container {
        display: flex;
        flex-direction: row;
        height: 10px;
        width: 60%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 16px;
        padding-left: 50px;
        display:none;
    }
    .welcome-text {
        display:none;
        font-size:55px;
        width:270px;
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        margin:150px auto 0 auto;
    }

    
    .welcome-section {
        background-image: url('iPhone 12, 12 Pro – e.png');
        background-repeat: no-repeat;
        background-size:cover;

    }
    .static-contact-button-container{
        display:flex;
        justify-content:flex-start;
        position:fixed;
        bottom:3vh;
        height:10vh;
        width:100%;
        box-sizing:border-box;
        padding-left:5vw;
        padding-right:5vw;
        z-index:50;
    }

    .static-contact-button-bg{
        display:grid;
        place-items:center;
        height:60px;
        width:60px;
        background-color:#fff;
        border-radius:50px;
        box-sizing:border-box;
        padding:10px;
        text-decoration:none;
        z-index:50;
        box-shadow: 2px 4px 10px rgba(143, 131, 131, 0.582)
    }

    .static-contact-button{
        height:30px;
        width:30px;
    }
}

@media only screen and (min-width:425px) {
    .nav-container {
        display: grid;
        height: 100%;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
    }

    .logo-container{
        display:flex;
        flex-direction:column;
    }

    .nav-logo {
        height: 300px;
        width: 300px;
        transform:translateX(0vw)translateY(35vh);
    }

    .nav-logo1{
        display:flex;
        position:absolute;
        top:5vh;
        left:2vw;
    }
    
    .nav-menu-container {
        display: flex;
        flex-direction: column;
        height: 10px;
        width: 60%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 16px;
        padding-left: 50px;
        display:none;
    }
    .welcome-text {
        display:none;
        font-size:55px;
        width:270px;
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        margin:-150px auto 0 auto;
    }

   
    .welcome-section {
        background-image: url('iPhone 12, 12 Pro – e.png');
        background-repeat: no-repeat;
        background-size:cover;
    }
    .static-contact-button-container{
        display:flex;
        justify-content:flex-start;
        position:fixed;
        bottom:5vh;
        height:10vh;
        width:100%;
        box-sizing:border-box;
        padding-left:5vw;
        padding-right:5vw;
        z-index:50;
    }

    .static-contact-button-bg{
        display:grid;
        place-items:center;
        height:60px;
        width:60px;
        background-color:#fff;
        border-radius:50px;
        box-sizing:border-box;
        padding:10px;
        text-decoration:none;
        z-index:50;
        box-shadow: 2px 4px 10px rgba(143, 131, 131, 0.582)
    }

    .static-contact-button{
        height:30px;
        width:30px;
    }
}


@media only screen and (min-width:768px) {
    .nav-container {
        display: flex!important;
        height: auto!important;
        width: auto!important;
        box-sizing:border-box;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 50px;
        justify-content: space-between!important;

    }
    .nav-logo {
        height: 80px;
        width: 80px;
        transform:none!important;
    }
    .nav-logo1{
        display:flex;
        position:relative!important;
        top:0;
        left:0;
    }
    .logo-container{
        display:flex;
        flex-direction:row!important;
        width:auto;
        justify-content: center;
        align-items: center;
    }
    .nav-menu-container {
        display: flex!important;
        flex-direction: row;
        height: auto;
        width: 60%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        display:block!important;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 16px;
        padding-left: 50px;
    }
    .welcome-text {
        display:block;
        font-size:55px;
        width:270px;
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        margin:50px auto 0 auto;
    }

    
    .welcome-section {
        background-image: url('section1-bg.jpg');
        width: auto;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: 100vw;
        scroll-snap-align: center;
    }
    .static-contact-button-container{
        display:flex;
        justify-content:flex-start;
        position:fixed;
        bottom:0;
        height:15vh;
        width:100%;
        box-sizing:border-box;
        padding-left:5vw;
        padding-right:5vw;
    }

    .static-contact-button-bg{
        display:grid;
        place-items:center;
        height:80px;
        width:80px;
        background-color:#fff;
        border-radius:50px;
        box-sizing:border-box;
        padding:10px;
        text-decoration:none;
        z-index:50;
        box-shadow: 2px 4px 10px rgba(143, 131, 131, 0.582)
    }

    .static-contact-button{
        height:40px;
        width:40px;
    }
}

@media only screen and (min-width:1024px) {
    .nav-container {
        display: flex;
        height: 50px;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 80px;
        padding-right: 90px;
        justify-content: space-between;
    }
    .nav-logo {
        height: 80px;
        width: 80px;
    }
    .nav-menu-container {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 60%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 16px;
        padding-left: 50px;
    }

    .welcome-text {
        display:block;
        font-size: 80px;
        width:400px;
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        margin:140px auto 0 auto;
    }
    .welcome-section {
        background-image: url('section1-bg.jpg');
        width: auto;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: 100vw;
        scroll-snap-align: center;
    }

    .welcome-scroll-container{
        bottom:5vh;
    }
    .static-contact-button-container{
        display:flex;
        justify-content:flex-end;
        position:fixed;
        bottom:0;
        height:15vh;
        width:100%;
        box-sizing:border-box;
        padding-left:5vw;
        padding-right:5vw;
    }

    .static-contact-button-bg{
        display:grid;
        place-items:center;
        height:80px;
        width:80px;
        background-color:#fff;
        border-radius:50px;
        box-sizing:border-box;
        padding:10px;
        text-decoration:none;
        z-index:50;
        box-shadow: 2px 4px 10px rgba(143, 131, 131, 0.582)
    }

    .static-contact-button{
        height:40px;
        width:40px;
    }
}

@media only screen and (min-width:1200px) {
    .nav-container {
        display: flex;
        height: 50px;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 80px;
        padding-right: 90px;
        justify-content: space-between;
    }
    .nav-logo {
        height: 80px;
        width: 80px;
    }
    .nav-menu-container {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 60%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        display:block;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 16px;
        padding-left: 50px;
    }

    .welcome-text {
        display:block;
        font-size: 80px;
        width:400px;
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        margin:190px auto 0 auto;
    }
    .welcome-section {
        background-image: url('section1-bg.jpg');
        width: auto;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: 100vw;
        scroll-snap-align: center;
    }
    .static-contact-button-container{
        display:flex;
        justify-content:flex-end;
        position:fixed;
        bottom:0;
        height:15vh;
        width:100%;
        box-sizing:border-box;
        padding-left:5vw;
        padding-right:5vw;
    }

    .static-contact-button-bg{
        display:grid;
        place-items:center;
        height:100px;
        width:100px;
        background-color:#fff;
        border-radius:50px;
        box-sizing:border-box;
        padding:10px;
        text-decoration:none;
        z-index:50;
        box-shadow: 2px 4px 10px rgba(143, 131, 131, 0.582)
    }

    .static-contact-button{
        height:55px;
        width:55px;
    }
}

@media only screen and (min-width:1440px) {
    .nav-container {
        display: flex;
        height: 50px;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 130px;
        padding-right: 150px;
        justify-content: space-between;
    }
    .nav-logo {
        height: 80px;
        width: 80px;
    }
    .nav-menu-container {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 40%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        display:block;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 20px;
        padding-left: 50px;
    }
    .welcome-text {
        display:block;
        font-size: 100px;
        width:480px;
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        margin:250px auto 0 auto;
    }
    .welcome-section {
        background-image: url('section1-bg.jpg');
        width: auto;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: 100vw;
        scroll-snap-align: center;
    }

    .static-contact-button-container{
        display:flex;
        justify-content:flex-end;
        position:fixed;
        bottom:0;
        height:15vh;
        width:100%;
        box-sizing:border-box;
        padding-left:5vw;
        padding-right:5vw;
    }

    .static-contact-button-bg{
        display:grid;
        place-items:center;
        height:100px;
        width:100px;
        background-color:#fff;
        border-radius:50px;
        box-sizing:border-box;
        padding:10px;
        text-decoration:none;
        z-index:50;
        box-shadow: 2px 4px 10px rgba(143, 131, 131, 0.582)
    }

    .static-contact-button{
        height:55px;
        width:55px;
    }
}

@media only screen and (min-width:2560px) {
    .nav-container {
        display: flex;
        height: 50px;
        width: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 180px;
        padding-right: 200px;
        justify-content: space-between;
    }
    .nav-logo {
        height: 100px;
        width: 100px;
    }
    .nav-menu-container {
        display: flex;
        flex-direction: row;
        height: 10px;
        width: 40%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 30px;
        padding-left: 50px;
    }
}