.welcome-section {
    background-image: url('section1-bg.jpg');
    width: auto;
    height: 160vh;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.nav-container {
    display: flex;
    height: auto;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 90px;
    justify-content: space-between;
}

.nav-logo {
    height: 80px;
    width: 80px;
}

.nav-menu-container {
    display: flex;
    flex-direction: row;
    height: 10px;
    width: 40%;
    justify-content: flex-end;
}

.nav-menu-items {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 20px;
    padding-left: 50px;
}


@media only screen and (min-width:320px) {
    .nav-container {
        display: flex;
        height: auto;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 50px;
        justify-content: space-between;
    }
    .nav-logo {
        height: 80px;
        width: 80px;
        transform:translateX(35vw)translateY(5vh);
    }
    .nav-menu-container {
        display: flex;
        flex-direction: row;
        height: 10px;
        width: 60%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 16px;
        padding-left: 50px;
        display:none;
    }
    .welcome-text {
        display:block;
        font-size:55px;
        width:270px;
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        margin:150px auto 0 auto;
    }
    .welcome-section {
        background-image: url('section1-bg.jpg');
        background-repeat: no-repeat;
        /* background-size:cover; */
    }
}

@media only screen and (min-width:375px) {
    .nav-container {
        display: flex;
        height: auto;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 50px;
        justify-content: space-between;
    }
    .nav-logo {
        height: 80px;
        width: 80px;
        transform:translateX(35vw)translateY(7vh);
    }
    .nav-menu-container {
        display: flex;
        flex-direction: row;
        height: 10px;
        width: 60%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 16px;
        padding-left: 50px;
        display:none;
    }
    .welcome-text {
        display:block;
        font-size:55px;
        width:270px;
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        margin:150px auto 0 auto;
    }
    .welcome-section {
        background-image: url('section1-bg.jpg');
        background-repeat: no-repeat;

    }
}

@media only screen and (min-width:425px) {
    .nav-container {
        display: flex;
        height: auto;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 50px;
        justify-content: space-between;
    }
    .nav-logo {
        height: 80px;
        width: 80px;
        transform:translateX(35vw)translateY(10vh);
    }
    .nav-menu-container {
        display: flex;
        flex-direction: row;
        height: 10px;
        width: 60%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 16px;
        padding-left: 50px;
        display:none;
    }
    .welcome-text {
        display:block;
        font-size:55px;
        width:270px;
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        margin:150px auto 0 auto;
    }
    .welcome-section {
        background-image: url('section1-bg.jpg');
        background-repeat: no-repeat;
        /* background-size:cover; */
    }
}


@media only screen and (min-width:768px) {
    .nav-container {
        display: flex;
        height: auto;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 50px;
        justify-content: space-between;
    }
    .nav-logo {
        height: 80px;
        width: 80px;
        transform:none!important;
    }
    .nav-menu-container {
        display: flex;
        flex-direction: row;
        height: 10px;
        width: 60%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 16px;
        padding-left: 50px;
    }
    .welcome-text {
        display:block;
        font-size:55px;
        width:270px;
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        margin:50px auto 0 auto;
    }
    .welcome-section {
        background-image: url('section1-bg.jpg');
        width: auto;
        height: 160vh;
        background-repeat: no-repeat;
        background-size: 100vw;
    }
}

@media only screen and (min-width:1024px) {
    .nav-container {
        display: flex;
        height: 50px;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 80px;
        padding-right: 90px;
        justify-content: space-between;
    }
    .nav-logo {
        height: 80px;
        width: 80px;
    }
    .nav-menu-container {
        display: flex;
        flex-direction: row;
        height: 10px;
        width: 60%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 16px;
        padding-left: 50px;
    }

    .welcome-text {
        display:block;
        font-size: 80px;
        width:400px;
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        margin:140px auto 0 auto;
    }
    .welcome-section {
        background-image: url('section1-bg.jpg');
        width: auto;
        height: 160vh;
        background-repeat: no-repeat;
        background-size: 100vw;
    }
}

@media only screen and (min-width:1200px) {
    .nav-container {
        display: flex;
        height: 50px;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 80px;
        padding-right: 90px;
        justify-content: space-between;
    }
    .nav-logo {
        height: 80px;
        width: 80px;
    }
    .nav-menu-container {
        display: flex;
        flex-direction: row;
        height: 10px;
        width: 60%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 16px;
        padding-left: 50px;
    }

    .welcome-text {
        display:block;
        font-size: 80px;
        width:400px;
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        margin:190px auto 0 auto;
    }
    .welcome-section {
        background-image: url('section1-bg.jpg');
        width: auto;
        height: 160vh;
        background-repeat: no-repeat;
        background-size: 100vw;
    }
}

@media only screen and (min-width:1440px) {
    .nav-container {
        display: flex;
        height: 50px;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 130px;
        padding-right: 150px;
        justify-content: space-between;
    }
    .nav-logo {
        height: 80px;
        width: 80px;
    }
    .nav-menu-container {
        display: flex;
        flex-direction: row;
        height: 10px;
        width: 40%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 20px;
        padding-left: 50px;
    }
    .welcome-text {
        display:block;
        font-size: 100px;
        width:480px;
        font-family: 'Poppins', sans-serif;
        letter-spacing:1px;
        margin:250px auto 0 auto;
    }
    .welcome-section {
        background-image: url('section1-bg.jpg');
        width: auto;
        height: 160vh;
        background-repeat: no-repeat;
        background-size: 100vw;
    }
}

@media only screen and (min-width:2560px) {
    .nav-container {
        display: flex;
        height: 50px;
        width: auto;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 180px;
        padding-right: 200px;
        justify-content: space-between;
    }
    .nav-logo {
        height: 100px;
        width: 100px;
    }
    .nav-menu-container {
        display: flex;
        flex-direction: row;
        height: 10px;
        width: 40%;
        justify-content: flex-end;
    }
    .nav-menu-items {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 30px;
        padding-left: 50px;
    }
}