.vision-section{
    height:100vh;
    position:relative;
    overflow:hidden;
    width:auto;
    scroll-snap-align: center;
}

.vision-container{
    display:grid;
    place-items:center;
    height:100%;
    width:100%;
}

.vision-box{
    display:grid;
    place-items:center;
    height:50%;
    width:50%;
}

.vision-heading{
    display:block;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}

.vision-points{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
}

.hover-card1{
    display:none;
    flex-direction:row;
    position:relative;
    top:-540px;
    left:100px;
    height:480px;
    width:380px;
    z-index:20;
}

.hover-card2{
    display:none;
    flex-direction:row;
    position:relative;
    top:-540px;
    left:800px;
    height:480px;
    width:380px;
    z-index:20;
    
}

.hover-card3{
    display:none;
    flex-direction:row;
    position:relative;
    top:-520px;
    left:800px;
    height:480px;
    width:380px;
    z-index:20;
    
}

.hover-card4{
    display:none;
    flex-direction:row;
    position:relative;
    top:-510px;
    left:50px;
    height:480px;
    width:380px;
    z-index:20;
}

.hover-card-container{
    display:block;
    height:100%;
    width:80%;
}

.pointer-container{
    display:block;
    height:100%;
    width:20%;
}

.hover-card{
    display:grid;
    place-items:center;
    height:100%;
    width:100%;
    background-color:#FFF;
    border-radius:10px;
    padding:10px;
    box-shadow: 3px 2px 8px rgba(110, 110, 110, 0.356);
}



.arrow-right1 {
    width: 0px; 
    height: 0px; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    position:relative;
    top:230px;
    left:20px;
    filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
  }

  .arrow-right2 {
    width: 0px; 
    height: 0px; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    position:relative;
    top:305px;
    left:20px;
    filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
  }


  .arrow-left1 {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    position:relative;
    top:140px;
    left:56px;
    border-right:20px solid #fff; 
    filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
  }

  .arrow-left2 {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    position:relative;
    top:240px;
    left:56px;
    border-right:20px solid #fff; 
    filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
  }

  .hover-card-image{
    width:100%;
  }

  .hover-card-heading{
    display:block;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }

  .hover-card-content{
    display:block;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  @media only screen and (min-width:320px){
    .vision-section{
      height:100vh;
      position:relative;
      overflow:hidden;
      width:auto;
      scroll-snap-align: center;
  }
  
  .vision-container{
      display:none;
      place-items:center;
      height:100%;
      width:100%;
  }

  .vision-container-mob{
    display:grid;
    place-items:center;
    height:100%;
    width:100%;
}
  
  .vision-box{
      display:grid;
      place-items:center;
      height:50%;
      width:100%;
  }
  
  .vision-heading{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 50px;
      text-align: center;
  }
  
  .vision-points{
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 50px;
  }
  
  .hover-card1{
      display:none;
      flex-direction:row;
      position:absolute;
      top:0%;
      left:10%;
      transform:translateX(0%) translateY(0%);
      height:480px;
      width:330px;
      z-index:20;
  }
  
  .hover-card2{
      display:none;
      flex-direction:row;
      position:absolute;
      top:0%;
      left:-5%;
      transform:translateX(0%) translateY(0%);
      height:480px;
      width:330px;
      z-index:20; 
  }
  
  .hover-card3{
      display:none;
      flex-direction:row;
      position:absolute;
      top:0%;
      left:-5%;
      transform:translateX(0%) translateY(0%);
      height:480px;
      width:330px;
      z-index:20;
      
  }
  
  .hover-card4{
      display:none;
      flex-direction:row;
      position:absolute;
      top:0%;
      left:10%;
      transform:translateX(0%) translateY(0%);
      height:480px;
      width:330px;
      z-index:20;
  }
  
  .hover-card-container{
      display:block;
      height:100%;
      width:80%;
  }
  
  .pointer-container{
      display:block;
      height:100%;
      width:20%;
  }
  
  .hover-card{
      display:grid;
      place-items:center;
      height:100%;
      width:100%;
      background-color:#FFF;
      border-radius:10px;
      padding:10px;
      box-shadow: 3px 2px 8px rgba(110, 110, 110, 0.356);
  }
  
  
  
  .arrow-right1 {
      display:none;
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:230px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .arrow-right2 {
      display:none;
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:305px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
  
    .arrow-left1 {
      display:none;
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:140px;
      left:56px;
      border-right:20px solid #fff; 
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .arrow-left2 {
      display:none;
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:240px;
      left:56px;
      border-right:20px solid #fff; 
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .hover-card-image{
      width:100%;
    }
  
    .hover-card-heading{
      display:block;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
    }
  
    .hover-card-content{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }

    .close-icon-container{
      display:flex;
      flex-direction:row;
      justify-content:flex-end;
      height:20px;
      width:113%;
      
    }
  
    .close-icon{
      margin-left:10px;
      height:35px;
      width:35px;
      z-index:50;
    }
  }

  @media only screen and (min-width:375px){
    .vision-section{
      height:100vh;
      position:relative;
      overflow:hidden;
      width:auto;
      scroll-snap-align: center;
  }
  
  .vision-container{
      display:none;
      place-items:center;
      height:100%;
      width:100%;
  }
  
  .vision-box{
      display:grid;
      place-items:center;
      height:50%;
      width:100%;
  }

  .vision-container-mob{
    display:grid;
    place-items:center;
    height:100%;
    width:100%;
}
  
  .vision-heading{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 50px;
      text-align: center;
  }
  
  .vision-points{
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 50px;
  }
  
  .hover-card1{
      display:none;
      flex-direction:row;
      position:absolute;
      top:0%;
      left:10%;
      transform:translateX(0%) translateY(0%);
      height:480px;
      width:380px;
      z-index:20;
  }
  
  .hover-card2{
      display:none;
      flex-direction:row;
      position:absolute;
      top:0%;
      left:-5%;
      transform:translateX(0%) translateY(0%);
      height:480px;
      width:380px;
      z-index:20;
      margin:0 auto 0 auto;
  }
  
  .hover-card3{
      display:none;
      flex-direction:row;
      position:absolute;
      top:0%;
      left:-5%;
      transform:translateX(0%) translateY(0%);
      height:480px;
      width:380px;
      z-index:20;
      margin:0 auto 0 auto;
  }
  
  .hover-card4{
      display:none;
      flex-direction:row;
      position:absolute;
      top:0%;
      left:10%;
      transform:translateX(0%) translateY(0%);
      height:480px;
      width:380px;
      z-index:20;
  }
  
  .hover-card-container{
      display:block;
      height:100%;
      width:80%;
  }
  
  .pointer-container{
      display:block;
      height:100%;
      width:20%;
  }
  
  .hover-card{
      display:grid;
      place-items:center;
      height:auto;
      width:100%;
      background-color:#FFF;
      border-radius:10px;
      padding:10px;
      box-shadow: 3px 2px 8px rgba(110, 110, 110, 0.356);
  }
  
  
  
  .arrow-right1 {
      display:none;
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:230px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .arrow-right2 {
      display:none;
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:305px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
  
    .arrow-left1 {
      display:none;
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:140px;
      left:56px;
      border-right:20px solid #fff; 
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .arrow-left2 {
      display:none;
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:240px;
      left:56px;
      border-right:20px solid #fff; 
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .hover-card-image{
      width:100%;
    }
  
    .hover-card-heading{
      display:block;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
    }
  
    .hover-card-content{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }

    .close-icon-container{
      display:flex;
      flex-direction:row;
      justify-content:flex-end;
      height:20px;
      width:113%;
      
    }
  
    .close-icon{
      margin-left:10px;
      height:35px;
      width:35px;
      z-index:50;
    }
  }

  @media only screen and (min-width:425px){
    .vision-section{
      height:100vh;
      position:relative;
      overflow:hidden;
      width:auto;
      scroll-snap-align: center;
  }
  
  .vision-container{
      display:none;
      place-items:center;
      height:100%;
      width:100%;
  }

  .vision-container-mob{
    display:grid;
    place-items:center;
    height:100%;
    width:100%;
}
  
  .vision-box{
      display:grid;
      place-items:center;
      height:50%;
      width:90%;
  }
  
  .vision-heading{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 50px;
      text-align: center;
  }
  
  .vision-points{
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 50px;
  }
  
  .hover-card1{
      display:none;
      flex-direction:row;
      position:absolute;
      top:0%;
      left:10%;
      transform:translateX(0%) translateY(0%);
      height:480px;
      width:380px;
      z-index:20;
      margin:0 auto 0 auto;
  }
  
  .hover-card2{
      display:none;
      flex-direction:row;
      position:absolute;
      top:0%;
      left:-5%;
      transform:translateX(0%) translateY(0%);
      height:480px;
      width:380px;
      z-index:20;
      margin:0 auto 0 auto;
  }
  
  .hover-card3{
      display:none;
      flex-direction:row;
      position:absolute;
      top:0%;
      left:-5%;
      transform:translateX(0%) translateY(0%);
      height:480px;
      width:380px;
      z-index:20;
      margin:0 auto 0 auto;
  }
  
  .hover-card4{
      display:flex;
      flex-direction:row;
      position:absolute;
      top:0%;
      left:10%;
      transform:translateX(0%) translateY(0%);
      height:480px;
      width:380px;
      z-index:20;
      margin:0 auto 0 auto;
  }
  
  .hover-card-container{
      display:block;
      height:100%;
      width:80%;
  }

  .close-icon-container{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    height:20px;
    width:113%;
    
  }

  .close-icon{
    margin-left:10px;
    height:35px;
    width:35px;
    z-index:50;
  }
  
  .pointer-container{
      display:block;
      height:100%;
      width:20%;
  }
  
  .hover-card{
      display:grid;
      place-items:center;
      height:100%;
      width:100%;
      background-color:#FFF;
      border-radius:10px;
      padding:10px;
      box-shadow: 3px 2px 8px rgba(110, 110, 110, 0.356);
  }
  
  
  
  .arrow-right1 {
      display:none;
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:230px;
      left:100px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .arrow-right2 {
      display:none;
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:305px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
  
    .arrow-left1 {
      display:none;
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:140px;
      left:56px;
      border-right:20px solid #fff; 
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .arrow-left2 {
      display:none;
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:240px;
      left:56px;
      border-right:20px solid #fff; 
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .hover-card-image{
      width:100%;
    }
  
    .hover-card-heading{
      display:block;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
    }
  
    .hover-card-content{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }
  }

  @media only screen and (min-width:768px){
    .vision-section{
      height:100vh;
      position:relative;
      overflow:hidden;
      width:auto;
      scroll-snap-align: center;
  }
  
  .vision-container{
      display:grid;
      place-items:center;
      height:100%;
      width:100%;
  }

  .vision-container-mob{
    display:none;
    place-items:center;
    height:100%;
    width:100%;
}
  
  .vision-box{
      display:grid;
      place-items:center;
      height:50%;
      width:60%;
  }
  
  .vision-heading{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 50px;
      text-align: center;
  }
  
  .vision-points{
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 50px;
  }
  
  .hover-card1{
      display:none;
      flex-direction:row;
      position:relative;
      top:-540px;
      left:100px;
      height:480px;
      width:380px;
      z-index:20;
      transform:none!important;
      margin:0!important;
  }
  
  .hover-card2{
      display:none;
      flex-direction:row;
      position:relative;
      top:-540px;
      left:800px;
      height:480px;
      width:380px;
      z-index:20;
      transform:none!important;
      margin:0!important;
  }
  
  .hover-card3{
      display:none;
      flex-direction:row;
      position:relative;
      top:-520px;
      left:800px;
      height:480px;
      width:380px;
      z-index:20;
      transform:none!important;
      margin:0!important;
  }
  
  .hover-card4{
      display:none;
      flex-direction:row;
      position:relative;
      top:-510px;
      left:50px;
      height:480px;
      width:380px;
      z-index:20;
      transform:none!important;
      margin:0!important;
  }
  
  .hover-card-container{
      display:block;
      height:100%;
      width:80%;
  }
  
  .pointer-container{
      display:block;
      height:100%;
      width:20%;
  }
  
  .hover-card{
      display:grid;
      place-items:center;
      height:100%;
      width:100%;
      background-color:#FFF;
      border-radius:10px;
      padding:10px;
      box-shadow: 3px 2px 8px rgba(110, 110, 110, 0.356);
  }
  
  
  
  .arrow-right1 {
      display:block!important;
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:230px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .arrow-right2 {
      display:block!important;
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:305px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
  
    .arrow-left1 {
      display:block!important;
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:140px;
      left:56px;
      border-right:20px solid #fff; 
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .arrow-left2 {
      display:block!important;
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:240px;
      left:56px;
      border-right:20px solid #fff; 
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .hover-card-image{
      width:100%;
    }
  
    .hover-card-heading{
      display:block;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
    }
  
    .hover-card-content{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }

    .close-icon-container{
      display:none;
      flex-direction:row;
      justify-content:flex-end;
      height:20px;
      width:113%;
      
    }
  
    .close-icon{
      display:none;
      margin-left:10px;
      height:35px;
      width:35px;
      z-index:50;
    }
  }

  @media only screen and (min-width:1024px){
    .vision-section{
      height:100vh;
      position:relative;
      overflow:hidden;
      width:auto;
      scroll-snap-align: center;
  }
  
  .vision-container{
      display:grid;
      place-items:center;
      height:100%;
      width:100%;
  }

  .vision-container-mob{
    display:none;
    place-items:center;
    height:100%;
    width:100%;
}
  
  .vision-box{
      display:grid;
      place-items:center;
      height:50%;
      width:50%;
  }
  
  .vision-heading{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 50px;
      text-align: center;
  }
  
  .vision-points{
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 50px;
  }
  
  /* .hover-card1{
      display:none;
      flex-direction:row;
      position:relative;
      top:-540px;
      left:100px;
      height:480px;
      width:380px;
      z-index:20;
      transform:none!important;
  }
  
  .hover-card2{
      display:none;
      flex-direction:row;
      position:relative;
      top:-540px;
      left:800px;
      height:480px;
      width:380px;
      z-index:20;
      transform:none!important;
  }
  
  .hover-card3{
      display:none;
      flex-direction:row;
      position:relative;
      top:-520px;
      left:800px;
      height:480px;
      width:380px;
      z-index:20;
      transform:none!important;
  }
  
  .hover-card4{
      display:none;
      flex-direction:row;
      position:relative;
      top:-510px;
      left:50px;
      height:480px;
      width:380px;
      z-index:20;
      transform:none!important;
  }
  
  .hover-card-container{
      display:block;
      height:100%;
      width:80%;
  }
  
  .pointer-container{
      display:block;
      height:100%;
      width:20%;
  }
  
  .hover-card{
      display:grid;
      place-items:center;
      height:100%;
      width:100%;
      background-color:#FFF;
      border-radius:10px;
      padding:10px;
      box-shadow: 3px 2px 8px rgba(110, 110, 110, 0.356);
  }
  
  
  
  .arrow-right1 {
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:230px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .arrow-right2 {
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:305px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
  
    .arrow-left1 {
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:140px;
      left:56px;
      border-right:20px solid #fff; 
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .arrow-left2 {
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:240px;
      left:56px;
      border-right:20px solid #fff; 
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
   */

   .hover-card1{
    display:none;
    flex-direction:row;
    position:relative;
    top:-540px;
    left:100px;
    height:auto;
    width:380px;
    z-index:20;
    transform:none!important;
}

.hover-card2{
    display:none;
    flex-direction:row;
    position:relative;
    top:-540px;
    left:600px;
    height:auto;
    width:380px;
    z-index:20;
    transform:none!important;
}

.hover-card3{
    display:none;
    flex-direction:row;
    position:relative;
    top:-520px;
    left:600px;
    height:auto;
    width:380px;
    z-index:20;
    transform:none!important;
}

.hover-card4{
    display:none;
    flex-direction:row;
    position:relative;
    top:-510px;
    left:50px;
    height:auto;
    width:380px;
    z-index:20;
    transform:none!important;
}

.hover-card-container{
    display:block;
    height:100%;
    width:80%;
}

.pointer-container{
    display:block;
    height:100%;
    width:20%;
}

.hover-card{
    display:grid;
    place-items:center;
    height:100%;
    width:100%;
    background-color:#FFF;
    border-radius:10px;
    padding:10px;
    box-shadow: 3px 2px 8px rgba(110, 110, 110, 0.356);
}



.arrow-right1 {
    width: 0px; 
    height: 0px; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    position:relative;
    top:230px;
    left:20px;
    filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
  }

  .arrow-right2 {
    width: 0px; 
    height: 0px; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    position:relative;
    top:305px;
    left:20px;
    filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
  }


  .arrow-left1 {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    position:relative;
    top:140px;
    left:56px;
    border-right:20px solid #fff; 
    filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
  }

  .arrow-left2 {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    position:relative;
    top:240px;
    left:56px;
    border-right:20px solid #fff; 
    filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
  }



    .hover-card-image{
      width:100%;
    }
  
    .hover-card-heading{
      display:block;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
    }
  
    .hover-card-content{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 25px;
      text-align: center;
    }

    .close-icon-container{
      display:none;
      flex-direction:row;
      justify-content:flex-end;
      height:20px;
      width:113%;
      
    }
  
    .close-icon{
      display:none;
      margin-left:10px;
      height:35px;
      width:35px;
      z-index:50;
    }
  }
  

  @media only screen and (min-width:1200px){
    .vision-section{
      height:100vh;
      position:relative;
      overflow:hidden;
      width:auto;
      scroll-snap-align: center;
  }
  
  .vision-container{
      display:grid;
      place-items:center;
      height:100%;
      width:100%;
  }

  .vision-container-mob{
    display:none;
    place-items:center;
    height:100%;
    width:100%;
}
  
  .vision-box{
      display:grid;
      place-items:center;
      height:50%;
      width:50%;
  }
  
  .vision-heading{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 50px;
      text-align: center;
  }
  
  .vision-points{
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 50px;
  }
  
  .hover-card1{
      display:none;
      flex-direction:row;
      position:relative;
      top:-600px;
      left:80px;
      height:auto;
      width:380px;
      z-index:20;
      transform:none!important;
      margin:0!important;
  }
  
  .hover-card2{
      display:none;
      flex-direction:row;
      position:relative;
      top:-650px;
      left:700px;
      height:auto;
      width:400px;
      z-index:20;
      
  }
  
  .hover-card3{
      display:none;
      flex-direction:row;
      position:relative;
      top:-550px;
      left:800px;
      height:auto;
      width:380px;
      z-index:20;
      
  }
  
  .hover-card4{
      display:none;
      flex-direction:row;
      position:relative;
      top:-550px;
      left:50px;
      height:auto;
      width:380px;
      z-index:20;
  }
  
  .hover-card-container{
      display:block;
      height:100%;
      width:80%;
  }
  
  .pointer-container{
      display:block;
      height:100%;
      width:20%;
  }
  
  .hover-card{
      display:grid;
      place-items:center;
      height:100%;
      width:100%;
      background-color:#FFF;
      border-radius:10px;
      padding:10px;
      box-shadow: 3px 2px 8px rgba(110, 110, 110, 0.356);
  }
  
  
  
  .arrow-right1 {
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:230px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .arrow-right2 {
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:305px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
  
    .arrow-left1 {
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:195px;
      left:60px;
      border-right:20px solid #fff; 
      /* filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356)); */
    }
  
    .arrow-left2 {
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:240px;
      left:56px;
      border-right:20px solid #fff; 
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .hover-card-image{
      width:100%;
    }
  
    .hover-card-heading{
      display:block;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
    }
  
    .hover-card-content{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }

    .close-icon-container{
      display:none;
      flex-direction:row;
      justify-content:flex-end;
      height:20px;
      width:113%;
      
    }
  
    .close-icon{
      display:none;
      margin-left:10px;
      height:35px;
      width:35px;
      z-index:50;
    }
  }

  @media only screen and (min-width:1440px){
    .vision-section{
      height:100vh;
      position:relative;
      overflow:hidden;
      width:auto;
      scroll-snap-align: center;
  }
  
  .vision-container{
      display:grid;
      place-items:center;
      height:100%;
      width:100%;
  }
  .vision-container-mob{
    display:none;
    place-items:center;
    height:100%;
    width:100%;
}
  
  .vision-box{
      display:grid;
      place-items:center;
      height:50%;
      width:50%;
  }
  
  .vision-heading{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 50px;
      text-align: center;
  }
  
  .vision-points{
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 50px;
  }
  
  .hover-card1{
      display:none;
      flex-direction:row;
      position:relative;
      top:-600px;
      left:100px;
      height:auto;
      width:380px;
      z-index:20;
  }
  
  .hover-card2{
      display:none;
      flex-direction:row;
      position:relative;
      top:-650px;
      left:800px;
      height:auto;
      width:400px;
      z-index:20;
      
  }
  
  .hover-card3{
      display:none;
      flex-direction:row;
      position:relative;
      top:-550px;
      left:800px;
      height:auto;
      width:380px;
      z-index:20;
      
  }
  
  .hover-card4{
      display:none;
      flex-direction:row;
      position:relative;
      top:-550px;
      left:50px;
      height:auto;
      width:420px;
      z-index:20;
  }
  
  .hover-card-container{
      display:block;
      height:100%;
      width:80%;
  }
  
  .pointer-container{
      display:block;
      height:100%;
      width:20%;
  }
  
  .hover-card{
      display:grid;
      place-items:center;
      height:100%;
      width:100%;
      background-color:#FFF;
      border-radius:10px;
      padding:10px;
      box-shadow: 3px 2px 8px rgba(110, 110, 110, 0.356);
  }
  
  
  
  .arrow-right1 {
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:230px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .arrow-right2 {
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:305px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
  
    .arrow-left1 {
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:190px;
      left:60px;
      border-right:20px solid #fff; 
      z-index:10;
      /* filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356)); */
    }
  
    .arrow-left2 {
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:240px;
      left:56px;
      border-right:20px solid #fff; 
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .hover-card-image{
      width:100%;
    }
  
    .hover-card-heading{
      display:block;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
    }
  
    .hover-card-content{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }

    .close-icon-container{
      display:none;
      flex-direction:row;
      justify-content:flex-end;
      height:20px;
      width:113%;
      
    }
  
    .close-icon{
      display:none;
      margin-left:10px;
      height:35px;
      width:35px;
      z-index:50;
    }
  }

  @media only screen and (min-width:2560px){
    .vision-section{
      height:100vh;
      position:relative;
      overflow:hidden;
      width:auto;
      scroll-snap-align: center;
  }
  
  .vision-container{
      display:grid;
      place-items:center;
      height:100%;
      width:100%;
  }

  .vision-container-mob{
    display:none;
    place-items:center;
    height:100%;
    width:100%;
}
  
  .vision-box{
      display:grid;
      place-items:center;
      height:50%;
      width:50%;
  }
  
  .vision-heading{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 50px;
      text-align: center;
  }
  
  .vision-points{
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 50px;
  }
  
  .hover-card1{
      display:none;
      flex-direction:row;
      position:relative;
      top:-540px;
      left:100px;
      height:480px;
      width:380px;
      z-index:20;
  }
  
  .hover-card2{
      display:none;
      flex-direction:row;
      position:relative;
      top:-540px;
      left:800px;
      height:480px;
      width:380px;
      z-index:20;
      
  }
  
  .hover-card3{
      display:none;
      flex-direction:row;
      position:relative;
      top:-520px;
      left:800px;
      height:480px;
      width:380px;
      z-index:20;
      
  }
  
  .hover-card4{
      display:none;
      flex-direction:row;
      position:relative;
      top:-510px;
      left:50px;
      height:480px;
      width:380px;
      z-index:20;
  }
  
  .hover-card-container{
      display:block;
      height:100%;
      width:80%;
  }
  
  .pointer-container{
      display:block;
      height:100%;
      width:20%;
  }
  
  .hover-card{
      display:grid;
      place-items:center;
      height:100%;
      width:100%;
      background-color:#FFF;
      border-radius:10px;
      padding:10px;
      box-shadow: 3px 2px 8px rgba(110, 110, 110, 0.356);
  }
  
  
  
  .arrow-right1 {
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:230px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .arrow-right2 {
      width: 0px; 
      height: 0px; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #fff;
      position:relative;
      top:305px;
      left:20px;
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
  
    .arrow-left1 {
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:140px;
      left:56px;
      border-right:20px solid #fff; 
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .arrow-left2 {
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent; 
      position:relative;
      top:240px;
      left:56px;
      border-right:20px solid #fff; 
      filter: drop-shadow(3px 2px 8px rgba(110, 110, 110, 0.356));
    }
  
    .hover-card-image{
      width:100%;
    }
  
    .hover-card-heading{
      display:block;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
    }
  
    .hover-card-content{
      display:block;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }

    .close-icon-container{
      display:none;
      flex-direction:row;
      justify-content:flex-end;
      height:20px;
      width:113%;
      
    }
  
    .close-icon{
      display:none;
      margin-left:10px;
      height:35px;
      width:35px;
      z-index:50;
    }
  }