.contact-section{
    height:100vh;
    position:relative;
    top:-20px;
    width:auto;
    overflow: hidden;
    scroll-snap-align: center;
 }

.heading-container{
    position:relative;
    width:auto;
    text-align:center;
    margin:0 auto;
    top:20%;
    z-index:10;
}

.contact-bg-opaque-heading{
    position:relative;
    font-family:"Poppins", sans-serif;
    font-weight:700;
   color:rgba(143, 143, 143, 0.322);
    font-size:200px;
}

.section-content{
    position:relative;
    width:50%;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
    padding-right:10px;
    z-index:11;
    left:20%;
    top:-13%;
}

.content-container-sec{
    height:50px;
    width:auto;
    padding:10px;
}

.contact-content{
    font-family:"Montserrat", sans-serif;
    font-size:24px;
    font-weight:400;
    color:#000;
    letter-spacing:1px;
    line-height:45px;
}

.contact-section-title-container{
    position:absolute;
    padding:10px;
    height:auto;
    width:40%;
    transform:rotate(-90deg) translateY(-290%) translateX(50%);
    left:100px;
}

.contact-section-title{
    font-family:"Poppins", sans-serif;
    font-weight:500;
    font-size:45px;
    letter-spacing:1px;
}


@media only screen and (min-width:320px){
    .contact-section{
        height:100vh;
        position:relative;
        top:-0px;
        width:auto;
        overflow: hidden;
     }
    
    .heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        top:0%;
        z-index:10;
    }
    
    .contact-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
       color:rgba(143, 143, 143, 0.322);
        font-size:75px;
    }
    
    .section-content{
        position:relative;
        width:100%;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:10px;
        padding-right:10px;
        z-index:11;
        left:0%;
        top:0%;
    }
    
    .content-container-sec{
        height:50px;
        width:auto;
        padding:10px;
    }
    
    .contact-content{
        font-family:"Montserrat", sans-serif;
        font-size:20px;
        font-weight:400;
        color:#000;
        letter-spacing:1px;
        line-height:45px;
    }
    
    .contact-section-title-container{
        position:absolute;
        padding:10px;
        height:auto;
        width:40%;
        transform:rotate(-90deg) translateY(-230%) translateX(50%);
        left:100px;
    }
    
    .contact-section-title{
        font-family:"Poppins", sans-serif;
        font-weight:500;
        font-size:45px;
        letter-spacing:1px;
    }

    .contact-button-container{
        display:grid;
        position:relative;
        place-items:center;
        width:100%;
        top:20%;
        right:0px;
    }

    .contact-button{
        text-decoration: none;
        color:#000;
        font-size:20px;
        font-family: 'Poppins', sans-serif;
        box-shadow:1px 1px 10px #ccc, -1px -1px 10px#ccc;
        padding:10px 20px;
        outline:none;
        z-index:20;
    }
    .contact-button-left-arrow{
        margin:10px 0 0 10px;
    }
}

@media only screen and (min-width:375px){
    .contact-section{
        height:100vh;
        position:relative;
        top:-20px;
        width:auto;
        overflow: hidden;
     }
    
    .heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        top:0%;
        z-index:10;
    }
    
    .contact-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
       color:rgba(143, 143, 143, 0.322);
        font-size:90px;
    }
    
    .section-content{
        position:relative;
        width:100%;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:10px;
        padding-right:10px;
        z-index:11;
        left:00%;
        top:0%;
    }
    
    .content-container-sec{
        height:50px;
        width:auto;
        padding:10px;
    }
    
    .contact-content{
        font-family:"Montserrat", sans-serif;
        font-size:20px;
        font-weight:400;
        color:#000;
        letter-spacing:1px;
        line-height:45px;
    }
    
    .contact-section-title-container{
        position:absolute;
        padding:10px;
        height:auto;
        width:40%;
        transform:rotate(-90deg) translateY(-230%) translateX(50%);
        left:100px;
    }
    
    .contact-section-title{
        font-family:"Poppins", sans-serif;
        font-weight:500;
        font-size:45px;
        letter-spacing:1px;
    }

    .contact-button-container{
        display:grid;
        position:relative;
        place-items:center;
        width:100%;
        top:100px;
        right:0px;
    }

    .contact-button{
        text-decoration: none;
        color:#000;
        font-size:20px;
        font-family: 'Poppins', sans-serif;
        box-shadow:1px 1px 10px #ccc, -1px -1px 10px#ccc;
        padding:10px 20px;
        outline:none;
        z-index:20;
    }
    .contact-button-left-arrow{
        margin:10px 0 0 10px;
    }
}

@media only screen and (min-width:425px){
    .contact-section{
        height:100vh;
        position:relative;
        top:-20px;
        width:auto;
        overflow: hidden;
     }
    
    .heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        top:0%;
        z-index:10;
    }
    
    .contact-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
       color:rgba(143, 143, 143, 0.322);
        font-size:100px;
    }
    
    .section-content{
        position:relative;
        width:100%;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:10px;
        padding-right:10px;
        z-index:11;
        left:0%;
        top:0%;
    }
    
    .content-container-sec{
        height:50px;
        width:auto;
        padding:10px;
    }
    
    .contact-content{
        font-family:"Montserrat", sans-serif;
        font-size:20px;
        font-weight:400;
        color:#000;
        letter-spacing:1px;
        line-height:45px;
    }
    
    .contact-section-title-container{
        position:absolute;
        padding:10px;
        height:auto;
        width:40%;
        transform:rotate(-90deg) translateY(-230%) translateX(50%);
        left:100px;
    }
    
    .contact-section-title{
        font-family:"Poppins", sans-serif;
        font-weight:500;
        font-size:45px;
        letter-spacing:1px;
    }

    .contact-button-container{
        display:grid;
        place-items:center;
        width:100%;
    }

    .contact-button{
        text-decoration: none;
        color:#000;
        font-size:20px;
        font-family: 'Poppins', sans-serif;
        box-shadow:1px 1px 10px #ccc, -1px -1px 10px#ccc;
        padding:10px 20px;
        outline:none;
        z-index:20;
    }
    .contact-button-left-arrow{
        margin:10px 0 0 10px;
    }
}

@media only screen and (min-width:768px){
    .contact-section{
        height:100vh;
        position:relative;
        top:-20px;
        width:auto;
        overflow: hidden;
     }
    
    .heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        top:0%;
        z-index:10;
    }
    
    .contact-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
       color:rgba(143, 143, 143, 0.322);
        font-size:170px;
    }
    
    .section-content{
        position:relative;
        width:50%;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:10px;
        padding-right:10px;
        z-index:11;
        left:20%;
        top:0%;
    }
    
    .content-container-sec{
        height:50px;
        width:auto;
        padding:10px;
    }
    
    .contact-content{
        font-family:"Montserrat", sans-serif;
        font-size:24px;
        font-weight:400;
        color:#000;
        letter-spacing:1px;
        line-height:45px;
    }
    
    .contact-section-title-container{
        position:absolute;
        padding:10px;
        height:auto;
        width:40%;
        transform:rotate(-90deg) translateY(-230%) translateX(20%);
        left:100px;
    }
    
    .contact-section-title{
        font-family:"Poppins", sans-serif;
        font-weight:500;
        font-size:45px;
        letter-spacing:1px;
    }

    .contact-button-container{
        display:flex!important;
        position:relative!important;
        justify-content:flex-end!important;
        width:100%;
        top:-50px;
        right:50px;
    }

    .contact-button{
        text-decoration: none;
        color:#000;
        font-size:20px;
        font-family: 'Poppins', sans-serif;
        box-shadow:1px 1px 10px #ccc, -1px -1px 10px#ccc;
        padding:10px 20px;
        outline:none;
        z-index:20;
    }
    .contact-button-left-arrow{
        margin:10px 0 0 10px;
    }
}

@media only screen and (min-width:1024px){
    .contact-section{
        height:100vh;
        position:relative;
        top:-20px;
        width:auto;
        overflow: hidden;
     }
    
    .heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        top:20%;
        z-index:10;
    }
    
    .contact-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
       color:rgba(143, 143, 143, 0.322);
        font-size:200px;
    }
    
    .section-content{
        position:relative;
        width:50%;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:10px;
        padding-right:10px;
        z-index:11;
        left:20%;
        top:-13%;
    }
    
    .content-container-sec{
        height:50px;
        width:auto;
        padding:10px;
    }
    
    .contact-content{
        font-family:"Montserrat", sans-serif;
        font-size:24px;
        font-weight:400;
        color:#000;
        letter-spacing:1px;
        line-height:45px;
    }
    
    .contact-section-title-container{
        position:absolute;
        padding:10px;
        height:auto;
        width:40%;
        transform:rotate(-90deg) translateY(-290%) translateX(50%);
        left:100px;
    }
    
    .contact-section-title{
        font-family:"Poppins", sans-serif;
        font-weight:500;
        font-size:45px;
        letter-spacing:1px;
    }

    .contact-button-container{
        display:flex;
        position:relative;
        justify-content:flex-end;
        width:100%;
        top:-0px;
        right:100px;
    }

    .contact-button{
        text-decoration: none;
        color:#000;
        font-size:20px;
        font-family: 'Poppins', sans-serif;
        box-shadow:1px 1px 10px #ccc, -1px -1px 10px#ccc;
        padding:10px 20px;
        outline:none;
        z-index:20;
    }
    .contact-button-left-arrow{
        margin:10px 0 0 10px;
    }
}

@media only screen and (min-width:1200px){
    .contact-section{
        height:100vh;
        position:relative;
        top:-20px;
        width:auto;
        overflow: hidden;
     }
    
    .heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        top:20%;
        z-index:10;
    }
    
    .contact-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
       color:rgba(143, 143, 143, 0.322);
        font-size:200px;
    }
    
    .section-content{
        position:relative;
        width:50%;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:10px;
        padding-right:10px;
        z-index:11;
        left:20%;
        top:-13%;
    }
    
    .content-container-sec{
        height:50px;
        width:auto;
        padding:10px;
    }
    
    .contact-content{
        font-family:"Montserrat", sans-serif;
        font-size:24px;
        font-weight:400;
        color:#000;
        letter-spacing:1px;
        line-height:45px;
    }
    
    .contact-section-title-container{
        position:absolute;
        padding:10px;
        height:auto;
        width:40%;
        transform:rotate(-90deg) translateY(-290%) translateX(50%);
        left:100px;
    }
    
    .contact-section-title{
        font-family:"Poppins", sans-serif;
        font-weight:500;
        font-size:45px;
        letter-spacing:1px;
    }

    .contact-button-container{
        display:flex;
        position:relative;
        justify-content:flex-end;
        width:100%;
        top:0px;
        right:100px;
    }

    .contact-button{
        text-decoration: none;
        color:#000;
        font-size:20px;
        font-family: 'Poppins', sans-serif;
        box-shadow:1px 1px 10px #ccc, -1px -1px 10px#ccc;
        padding:10px 20px;
        outline:none;
        z-index:20;
    }
    .contact-button-left-arrow{
        margin:10px 0 0 10px;
    }
}

@media only screen and (min-width:1440px){
    .contact-section{
        height:100vh;
        position:relative;
        top:-20px;
        width:auto;
        overflow: hidden;
     }
    
    .heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        top:20%;
        z-index:10;
    }
    
    .contact-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
       color:rgba(143, 143, 143, 0.322);
        font-size:200px;
    }
    
    .section-content{
        position:relative;
        width:50%;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:10px;
        padding-right:10px;
        z-index:11;
        left:20%;
        top:-13%;
    }
    
    .content-container-sec{
        height:50px;
        width:auto;
        padding:10px;
    }
    
    .contact-content{
        font-family:"Montserrat", sans-serif;
        font-size:34px;
        font-weight:400;
        color:#000;
        letter-spacing:1px;
        line-height:45px;
    }
    
    .contact-section-title-container{
        position:absolute;
        padding:10px;
        height:auto;
        width:40%;
        transform:rotate(-90deg) translateY(-290%) translateX(50%);
        left:100px;
    }
    
    .contact-section-title{
        font-family:"Poppins", sans-serif;
        font-weight:500;
        font-size:55px;
        letter-spacing:1px;
    }
    .contact-button-container{
        display:flex;
        position:relative;
        justify-content:flex-end;
        width:100%;
        top:-110px;
        right:100px;
    }

    .contact-button{
        text-decoration: none;
        color:#000;
        font-size:20px;
        font-family: 'Poppins', sans-serif;
        box-shadow:1px 1px 10px #ccc, -1px -1px 10px#ccc;
        padding:10px 20px;
        outline:none;
        z-index:20;
    }
    .contact-button-left-arrow{
        margin:10px 0 0 10px;
    }
}

@media only screen and (min-width:2560px){
    .contact-section{
        height:100vh;
        position:relative;
        top:-20px;
        width:auto;
        overflow: hidden;
     }
    
    .heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        top:20%;
        z-index:10;
    }
    
    .contact-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
       color:rgba(143, 143, 143, 0.322);
        font-size:200px;
    }
    
    .section-content{
        position:relative;
        width:50%;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:10px;
        padding-right:10px;
        z-index:11;
        left:20%;
        top:-13%;
    }
    
    .content-container-sec{
        height:50px;
        width:auto;
        padding:10px;
    }
    
    .contact-content{
        font-family:"Montserrat", sans-serif;
        font-size:24px;
        font-weight:400;
        color:#000;
        letter-spacing:1px;
        line-height:45px;
    }
    
    .contact-section-title-container{
        position:absolute;
        padding:10px;
        height:auto;
        width:40%;
        transform:rotate(-90deg) translateY(-290%) translateX(50%);
        left:100px;
    }
    
    .contact-section-title{
        font-family:"Poppins", sans-serif;
        font-weight:500;
        font-size:45px;
        letter-spacing:1px;
    }

    .contact-button-container{
        display:flex;
        position:relative;
        justify-content:flex-end;
        width:100%;
        top:-110px;
        right:100px;
    }

    .contact-button{
        text-decoration: none;
        color:#000;
        font-size:20px;
        font-family: 'Poppins', sans-serif;
        box-shadow:1px 1px 10px #ccc, -1px -1px 10px#ccc;
        padding:10px 20px;
        outline:none;
    }
    .contact-button-left-arrow{
        margin:10px 0 0 10px;
    }
}