.about-us-section{
    position:relative;
    top:-20px;
    height:133vh;
    width:auto;
    overflow: hidden;
}

.about-heading-container{
    position:relative;
    width:auto;
    text-align:center;
    margin:0 auto;
    z-index:10;
}

.about-bg-opaque-heading{
    position:relative;
    font-family:"Poppins", sans-serif;
    font-weight:700;
    color:rgba(223, 223, 223, 0.322);
    font-size:200px;
}

.about-container{
    display:grid;
    place-items:center;
    height:100px;
    width:100%;
}

.about-inner-container{
    height:100px;
    width:80%;
}

.about-inner-container-left{
    display:inline-block;
    height:inherit;
    width:50%;
    vertical-align:top;
}

.carousel-container{
    position:relative;
    top:-40px;
    left:50px;
}

.about-inner-container-right{
    display:inline-block;
    height:inherit;
    width:50%;
    vertical-align:top;
}

.about-right-card{
    position:relative;
    top:-120px;
    height:500px;
    width:400px;
    background-color:#FFF;
    z-index:12;
    border-radius:10px;
    padding:20px;
    box-shadow: -3px -3px 10px 2px rgba(132, 132, 132, 0.1), 3px 3px 10px 2px rgba(132, 132, 132, 0.1);
}

.about-card-heading{
    display:block;
    font-family:"Poppins", sans-serif;
    font-family:500;
    font-size:36px;
    line-height:50px;
    color:#000;
    text-align:center;
    margin-bottom:20px;
    margin-top:10px;
}

.about-card-sub-heading{
    display:block;
    font-family:"Montserrat", sans-serif;
    font-family:600;
    font-size:18px;
    line-height:30px;
    color:#000;
    text-align:center;
    margin-bottom:10px;
}

.about-card-content{
    display:block;
    font-family:"Montserrat", sans-serif;
    font-family:500;
    font-size:17px;
    line-height:40px;
    color:#000;
    text-align:center;
    padding:5px;
}

.more-link-container{
    display:flex;
    height:30px;
    width:100%;
    margin-top:10px;
    justify-content: flex-end;
}

.more-link{
font-family: "Poppins", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 50px;
letter-spacing: 0.05em;
color: #000000;
text-decoration:none;
}

@media only screen and (min-width:320px){
    .about-us-section{
        position:relative;
        top:-20px;
        height:140vh;
        width:auto;
        overflow: hidden;
    }
    
    .about-heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        z-index:10;
    }
    
    .about-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
        color:rgba(223, 223, 223, 0.322);
        font-size:60px;
    }
    
    .about-container{
        display:grid;
        place-items:center;
        height:100px;
        width:100%;
    }
    
    .about-inner-container{
        height:100vh;
        width:100%;
    }
    
    .about-inner-container-left{
        display:block;
        height:50%;
        width:100%;
    }
    
    .carousel-container{
        position:relative;
        top:50%;
        left:50%;
        transform:scale(0.65) translateX(-107%) translateY(-80%);
    }
    
    .about-inner-container-right{
        display:block;
        height:50%;
        width:100%;
    }
    
    .about-right-card{
        position:relative;
        top:-160px;
        left:-60px;
        height:500px;
        width:400px;
        background-color:#FFF;
        z-index:12;
        border-radius:10px;
        padding:20px;
        box-shadow: -3px -3px 10px 2px rgba(132, 132, 132, 0.1), 3px 3px 10px 2px rgba(132, 132, 132, 0.1);
        transform:scale(0.65);
    }
    
    .about-card-heading{
        display:block;
        font-family:"Poppins", sans-serif;
        font-family:500;
        font-size:30px;
        line-height:50px;
        color:#000;
        text-align:center;
        margin-bottom:20px;
        margin-top:10px;
    }
    
    .about-card-sub-heading{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:600;
        font-size:18px;
        line-height:30px;
        color:#000;
        text-align:center;
        margin-bottom:10px;
    }
    
    .about-card-content{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:500;
        font-size:17px;
        line-height:40px;
        color:#000;
        text-align:center;
        padding:5px;
    }
    
    .more-link-container{
        display:flex;
        height:30px;
        width:100%;
        margin-top:10px;
        justify-content: flex-end;
    }
    
    .more-link{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;
    text-decoration:none;
    }
    
    
}

@media only screen and (min-width:375px){
    .about-us-section{
        position:relative;
        top:-20px;
        height:133vh;
        width:auto;
        overflow: hidden;
    }
    
    .about-heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        z-index:10;
    }
    
    .about-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
        color:rgba(223, 223, 223, 0.322);
        font-size:80px;
    }
    
    .about-container{
        display:grid;
        place-items:center;
        height:100px;
        width:100%;
    }
    
    .about-inner-container{
        height:100vh;
        width:100%;
    }
    
    .about-inner-container-left{
        display:block;
        height:50%;
        width:100%;
    }
    
    .carousel-container{
        position:relative;
        top:50%;
        left:50%;
        transform:scale(0.65) translateX(-99%) translateY(-80%);
    }
    
    .about-inner-container-right{
        display:block;
        height:50%;
        width:100%;
    }
    
    .about-right-card{
        position:relative;
        top:-120px;
        left:-30px;
        height:500px;
        width:400px;
        background-color:#FFF;
        z-index:12;
        border-radius:10px;
        padding:20px;
        box-shadow: -3px -3px 10px 2px rgba(132, 132, 132, 0.1), 3px 3px 10px 2px rgba(132, 132, 132, 0.1);
        transform:scale(0.7);
    }
    
    .about-card-heading{
        display:block;
        font-family:"Poppins", sans-serif;
        font-family:500;
        font-size:30px;
        line-height:50px;
        color:#000;
        text-align:center;
        margin-bottom:20px;
        margin-top:10px;
    }
    
    .about-card-sub-heading{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:600;
        font-size:18px;
        line-height:30px;
        color:#000;
        text-align:center;
        margin-bottom:10px;
    }
    
    .about-card-content{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:500;
        font-size:17px;
        line-height:40px;
        color:#000;
        text-align:center;
        padding:5px;
    }
    
    .more-link-container{
        display:flex;
        height:30px;
        width:100%;
        margin-top:10px;
        justify-content: flex-end;
    }
    
    .more-link{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;
    text-decoration:none;
    }
    
    
}

@media only screen and (min-width:425px){
    .about-us-section{
        position:relative;
        top:-20px;
        height:133vh;
        width:auto;
        overflow: hidden;
    }
    
    .about-heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        z-index:10;
    }
    
    .about-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
        color:rgba(223, 223, 223, 0.322);
        font-size:80px;
    }
    
    .about-container{
        display:grid;
        place-items:center;
        height:100px;
        width:100%;
    }
    
    .about-inner-container{
        height:100vh;
        width:100%;
    }
    
    .about-inner-container-left{
        display:block;
        height:50%;
        width:100%;
    }
    
    .carousel-container{
        position:relative;
        top:50%;
        left:50%;
        transform:scale(0.7) translateX(-85%) translateY(-80%);
    }
    
    .about-inner-container-right{
        display:block;
        height:50%;
        width:100%;
    }
    
    .about-right-card{
        position:relative;
        top:-120px;
        left:0px;
        height:500px;
        width:400px;
        background-color:#FFF;
        z-index:12;
        border-radius:10px;
        padding:20px;
        box-shadow: -3px -3px 10px 2px rgba(132, 132, 132, 0.1), 3px 3px 10px 2px rgba(132, 132, 132, 0.1);
        transform:scale(0.75);
    }
    
    .about-card-heading{
        display:block;
        font-family:"Poppins", sans-serif;
        font-family:500;
        font-size:30px;
        line-height:50px;
        color:#000;
        text-align:center;
        margin-bottom:20px;
        margin-top:10px;
    }
    
    .about-card-sub-heading{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:600;
        font-size:18px;
        line-height:30px;
        color:#000;
        text-align:center;
        margin-bottom:10px;
    }
    
    .about-card-content{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:500;
        font-size:17px;
        line-height:40px;
        color:#000;
        text-align:center;
        padding:5px;
    }
    
    .more-link-container{
        display:flex;
        height:30px;
        width:100%;
        margin-top:10px;
        justify-content: flex-end;
    }
    
    .more-link{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;
    text-decoration:none;
    }
    
    
}

@media only screen and (min-width:768px){
    .about-us-section{
        position:relative;
        top:-20px;
        height:133vh;
        width:auto;
        overflow: hidden;
    }
    
    .about-heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        z-index:10;
    }
    
    .about-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
        color:rgba(223, 223, 223, 0.322);
        font-size:150px;
    }
    
    .about-container{
        display:grid;
        place-items:center;
        height:100px;
        width:100%;
    }
    
    .about-inner-container{
        height:100px;
        width:80%;
    }
    
    .about-inner-container-left{
        display:inline-block;
        height:inherit;
        width:50%;
        vertical-align:top;
    }
    
    .carousel-container{
        position:relative;
        top:-40px;
        left:-80px;
        transform:scale(0.7);
    }
    
    .about-inner-container-right{
        display:inline-block;
        height:inherit;
        width:50%;
        vertical-align:top;
    }
    
    .about-right-card{
        position:relative;
        top:-120px;
        left:-50px;
        height:500px;
        width:400px;
        background-color:#FFF;
        z-index:12;
        border-radius:10px;
        padding:20px;
        box-shadow: -3px -3px 10px 2px rgba(132, 132, 132, 0.1), 3px 3px 10px 2px rgba(132, 132, 132, 0.1);
        transform:scale(0.8);
    }
    
    .about-card-heading{
        display:block;
        font-family:"Poppins", sans-serif;
        font-family:500;
        font-size:30px;
        line-height:50px;
        color:#000;
        text-align:center;
        margin-bottom:20px;
        margin-top:10px;
    }
    
    .about-card-sub-heading{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:600;
        font-size:18px;
        line-height:30px;
        color:#000;
        text-align:center;
        margin-bottom:10px;
    }
    
    .about-card-content{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:500;
        font-size:17px;
        line-height:40px;
        color:#000;
        text-align:center;
        padding:5px;
    }
    
    .more-link-container{
        display:flex;
        height:30px;
        width:100%;
        margin-top:10px;
        justify-content: flex-end;
    }
    
    .more-link{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;
    text-decoration:none;
    }
    
    
}

@media only screen and (min-width:1024px){
    .about-us-section{
        position:relative;
        top:-20px;
        height:133vh;
        width:auto;
        overflow: hidden;
    }
    
    .about-heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        z-index:10;
    }
    
    .about-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
        color:rgba(223, 223, 223, 0.322);
        font-size:200px;
    }
    
    .about-container{
        display:grid;
        place-items:center;
        height:100px;
        width:100%;
    }
    
    .about-inner-container{
        height:100px;
        width:80%;
    }
    
    .about-inner-container-left{
        display:inline-block;
        height:inherit;
        width:50%;
        vertical-align:top;
    }
    
    .carousel-container{
        position:relative;
        top:-40px;
        left:-50px;
        transform:none!important;
    }
    
    .about-inner-container-right{
        display:inline-block;
        height:inherit;
        width:50%;
        vertical-align:top;
    }
    
    .about-right-card{
        position:relative;
        top:-120px;
        left:0px!important;
        height:500px;
        width:400px;
        background-color:#FFF;
        z-index:12;
        border-radius:10px;
        padding:20px;
        box-shadow: -3px -3px 10px 2px rgba(209, 146, 146, 0.1), 3px 3px 10px 2px rgba(132, 132, 132, 0.1);
        transform:none!important;
    }
    
    .about-card-heading{
        display:block;
        font-family:"Poppins", sans-serif;
        font-family:500;
        font-size:36px;
        line-height:50px;
        color:#000;
        text-align:center;
        margin-bottom:20px;
        margin-top:10px;
    }
    
    .about-card-sub-heading{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:600;
        font-size:18px;
        line-height:30px;
        color:#000;
        text-align:center;
        margin-bottom:10px;
    }
    
    .about-card-content{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:500;
        font-size:17px;
        line-height:40px;
        color:#000;
        text-align:center;
        padding:5px;
    }
    
    .more-link-container{
        display:flex;
        height:30px;
        width:100%;
        margin-top:10px;
        justify-content: flex-end;
    }
    
    .more-link{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;
    text-decoration:none;
    }
    
    
}

@media only screen and (min-width:1200px){
    .about-us-section{
        position:relative;
        top:-20px;
        height:133vh;
        width:auto;
        overflow: hidden;
    }
    
    .about-heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        z-index:10;
    }
    
    .about-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
        color:rgba(223, 223, 223, 0.322);
        font-size:200px;
    }
    
    .about-container{
        display:grid;
        place-items:center;
        height:100px;
        width:100%;
    }
    
    .about-inner-container{
        height:100px;
        width:80%;
    }
    
    .about-inner-container-left{
        display:inline-block;
        height:inherit;
        width:50%;
        vertical-align:top;
    }
    
    .carousel-container{
        position:relative;
        top:-40px;
        left:10px;
    }
    
    .about-inner-container-right{
        display:inline-block;
        height:inherit;
        width:50%;
        vertical-align:top;
    }
    
    .about-right-card{
        position:relative;
        top:-120px;
        height:500px;
        width:400px;
        background-color:#FFF;
        z-index:12;
        border-radius:10px;
        padding:20px;
        box-shadow: -3px -3px 10px 2px rgba(132, 132, 132, 0.1), 3px 3px 10px 2px rgba(132, 132, 132, 0.1);
    }
    
    .about-card-heading{
        display:block;
        font-family:"Poppins", sans-serif;
        font-family:500;
        font-size:36px;
        line-height:50px;
        color:#000;
        text-align:center;
        margin-bottom:20px;
        margin-top:10px;
    }
    
    .about-card-sub-heading{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:600;
        font-size:18px;
        line-height:30px;
        color:#000;
        text-align:center;
        margin-bottom:10px;
    }
    
    .about-card-content{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:500;
        font-size:17px;
        line-height:40px;
        color:#000;
        text-align:center;
        padding:5px;
    }
    
    .more-link-container{
        display:flex;
        height:30px;
        width:100%;
        margin-top:10px;
        justify-content: flex-end;
    }
    
    .more-link{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;
    text-decoration:none;
    }
    
    
}

@media only screen and (min-width:1440px){
    .about-us-section{
        position:relative;
        top:-20px;
        height:133vh;
        width:auto;
        overflow: hidden;
    }
    
    .about-heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        z-index:10;
    }
    
    .about-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
        color:rgba(223, 223, 223, 0.322);
        font-size:200px;
    }
    
    .about-container{
        display:grid;
        place-items:center;
        height:100px;
        width:100%;
    }
    
    .about-inner-container{
        height:100px;
        width:80%;
    }
    
    .about-inner-container-left{
        display:inline-block;
        height:inherit;
        width:50%;
        vertical-align:top;
    }
    
    .carousel-container{
        position:relative;
        top:-40px;
        left:120px;
    }
    
    .about-inner-container-right{
        display:inline-block;
        height:inherit;
        width:50%;
        vertical-align:top;
    }
    
    .about-right-card{
        position:relative;
        top:-120px;
        height:500px;
        width:400px;
        background-color:#FFF;
        z-index:12;
        border-radius:10px;
        padding:20px;
        box-shadow: -3px -3px 10px 2px rgba(132, 132, 132, 0.1), 3px 3px 10px 2px rgba(132, 132, 132, 0.1);
    }
    
    .about-card-heading{
        display:block;
        font-family:"Poppins", sans-serif;
        font-family:500;
        font-size:36px;
        line-height:50px;
        color:#000;
        text-align:center;
        margin-bottom:20px;
        margin-top:10px;
    }
    
    .about-card-sub-heading{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:600;
        font-size:18px;
        line-height:30px;
        color:#000;
        text-align:center;
        margin-bottom:10px;
    }
    
    .about-card-content{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:500;
        font-size:17px;
        line-height:40px;
        color:#000;
        text-align:center;
        padding:5px;
    }
    
    .more-link-container{
        display:flex;
        height:30px;
        width:100%;
        margin-top:10px;
        justify-content: flex-end;
    }
    
    .more-link{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;
    text-decoration:none;
    }
    
    
}

@media only screen and (min-width:2560px){
    .about-us-section{
        position:relative;
        top:-20px;
        height:133vh;
        width:auto;
        overflow: hidden;
    }
    
    .about-heading-container{
        position:relative;
        width:auto;
        text-align:center;
        margin:0 auto;
        z-index:10;
    }
    
    .about-bg-opaque-heading{
        position:relative;
        font-family:"Poppins", sans-serif;
        font-weight:700;
        color:rgba(223, 223, 223, 0.322);
        font-size:200px;
    }
    
    .about-container{
        display:grid;
        place-items:center;
        height:100px;
        width:100%;
    }
    
    .about-inner-container{
        height:100px;
        width:80%;
    }
    
    .about-inner-container-left{
        display:inline-block;
        height:inherit;
        width:50%;
        vertical-align:top;
    }
    
    .carousel-container{
        position:relative;
        top:-40px;
        left:50px;
    }
    
    .about-inner-container-right{
        display:inline-block;
        height:inherit;
        width:50%;
        vertical-align:top;
    }
    
    .about-right-card{
        position:relative;
        top:-120px;
        height:500px;
        width:400px;
        background-color:#FFF;
        z-index:12;
        border-radius:10px;
        padding:20px;
        box-shadow: -3px -3px 10px 2px rgba(132, 132, 132, 0.1), 3px 3px 10px 2px rgba(132, 132, 132, 0.1);
    }
    
    .about-card-heading{
        display:block;
        font-family:"Poppins", sans-serif;
        font-family:500;
        font-size:36px;
        line-height:50px;
        color:#000;
        text-align:center;
        margin-bottom:20px;
        margin-top:10px;
    }
    
    .about-card-sub-heading{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:600;
        font-size:18px;
        line-height:30px;
        color:#000;
        text-align:center;
        margin-bottom:10px;
    }
    
    .about-card-content{
        display:block;
        font-family:"Montserrat", sans-serif;
        font-family:500;
        font-size:17px;
        line-height:40px;
        color:#000;
        text-align:center;
        padding:5px;
    }
    
    .more-link-container{
        display:flex;
        height:30px;
        width:100%;
        margin-top:10px;
        justify-content: flex-end;
    }
    
    .more-link{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;
    text-decoration:none;
    }
    
    
}


