.nav-container{
    display:flex;
    height:auto;
    width:auto;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:80px;
    padding-right:90px;
    justify-content: space-between;
}

.nav-logo{
    height:80px;
    width:80px;
}

.nav-menu-container{
    display:flex;
    flex-direction:row;
    height:10px;
    width:40%;
    justify-content:flex-end;
}

.nav-menu-items{
    font-family:"Roboto", sans-serif;
    font-weight:400;
    color:#000;
    font-size:20px;
    padding-left:50px;
}

@media only screen and (min-width:768px){
    .nav-container{
        display:flex;
        height:auto;
        width:auto;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:40px;
        padding-right:50px;
        justify-content: space-between;
    }
    
    .nav-logo{
        height:80px;
        width:80px;
    }
    
    .nav-menu-container{
        display:flex;
        flex-direction:row;
        height:10px;
        width:60%;
        justify-content:flex-end;
    }
    
    .nav-menu-items{
        font-family:"Roboto", sans-serif;
        font-weight:400;
        color:#000;
        font-size:16px;
        padding-left:50px;
    }
}

@media only screen and (min-width:1024px){
    .nav-container{
        display:flex;
        height:50px;
        width:auto;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:80px;
        padding-right:90px;
        justify-content: space-between;
    }
    
    .nav-logo{
        height:80px;
        width:80px;
    }
    
    .nav-menu-container{
        display:flex;
        flex-direction:row;
        height:10px;
        width:60%;
        justify-content:flex-end;
    }
    
    .nav-menu-items{
        font-family:"Roboto", sans-serif;
        font-weight:400;
        color:#000;
        font-size:16px;
        padding-left:50px;
    }
}

@media only screen and (min-width:1440px){
    .nav-container{
        display:flex;
        height:50px;
        width:auto;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:130px;
        padding-right:150px;
        justify-content: space-between;
    }
    
    .nav-logo{
        height:80px;
        width:80px;
    }
    
    .nav-menu-container{
        display:flex;
        flex-direction:row;
        height:10px;
        width:40%;
        justify-content:flex-end;
    }
    
    .nav-menu-items{
        font-family:"Roboto", sans-serif;
        font-weight:400;
        color:#000;
        font-size:20px;
        padding-left:50px;
    }
}

@media only screen and (min-width:2560px){
    .nav-container{
        display:flex;
        height:50px;
        width:auto;
        padding-top:40px;
        padding-bottom:40px;
        padding-left:180px;
        padding-right:200px;
        justify-content: space-between;
    }
    
    .nav-logo{
        height:100px;
        width:100px;
    }
    
    .nav-menu-container{
        display:flex;
        flex-direction:row;
        height:10px;
        width:40%;
        justify-content:flex-end;
    }
    
    .nav-menu-items{
        font-family:"Roboto", sans-serif;
        font-weight:400;
        color:#000;
        font-size:30px;
        padding-left:50px;
    }
}